:root {
    --section-color: #f4d03f;
    --fade-level: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--section-color);
    transition: background-color 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 1080px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    font-weight: 700;
}

p, body {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    line-height: 1.6; /* Mantém boa legibilidade */

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    box-shadow: 0 12px 8px -12px rgba(0, 0, 0, 0.6);
    padding: 0.5rem;

    .logo {
        display: flex;
        align-items: center;
    }

    img {
        width: 75px;
        height: 75px;
        margin-left: 1.5rem;
    }


    .nav > ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;
        margin-right: 2rem;

        li > a {
            text-decoration: none;
            font-family: "Lacquer", system-ui;
            font-size: 1.6rem;
            color: #000;
            font-weight: 600;
        }
    }
}

h3 {
    font-family: "Lacquer", system-ui;
    font-weight: 700;
    font-size: 2.2rem;
}

.principal {
    display: flex;
    justify-content: space-between;
    margin-block: 5rem 12rem;


    .intro {
        width: 60%;
        margin-left: 2rem;
        h2 {
            font-size: 1.7rem;
            margin-bottom: 1rem;

        }

        p {
            font-size: 1.3rem;
            font-weight: 500;
        }
    }

    .contact {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
        border-right: 2px solid #000;
        box-shadow: 12px 0 12px -12px rgba(0, 0, 0, 0.6);
        padding-right: 3rem;
        gap: 2rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            list-style: none;
            font-size: 1.3rem;
            font-weight: 500;
        }

        ul:last-of-type {
            flex-direction: row;
            gap: 1rem;

            img {
                width: 40px;
                height: 40px;
            }


        }
    }
}

.technologies {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding-block: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 55px;
    line-height: 48px;

    li {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
        font-weight: 700;
    }
    

    img {
        width: 50px;
        height: 50px;
    }
}

.tools {
    width: 100%;
    text-align: right;
    margin-block: 0 12rem;

    div:first-child {
        border-bottom: 2px solid #000;
        box-shadow: 0 12px 8px -12px rgba(0, 0, 0, 0.6);
        padding-right: 3rem;
    }
}

.creative {
    width: 100%;
    margin-block: 0 12rem;

    > div:first-of-type {
        border-bottom: 2px solid #000;
        box-shadow: 0 12px 8px -12px rgba(0, 0, 0, 0.6);
        padding-left: 3rem;
        margin-bottom: 3rem;
    }
}

.creative-cards {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 1rem;
    position: relative;

    img {
        width: 60px;
        height: 60px;
    }

    .card-icons {
        display: flex;
        flex-direction: row;
        border: none;
        gap: 2rem;
    }

    .separator {
        width: 0;
        border-inline: 1px solid black;
        background-color: transparent;
        align-self: stretch;
        box-shadow: -1px 0 4px rgba(0, 0, 0, 0.5), 1px 0 4px rgba(0, 0, 0, 0.5);
    }
    div {
        display: flex;
        flex-direction: column;
        width: 480px;

        h4 {
            font-size: 1.6rem;
            font-family: "Lacquer", system-ui;
            margin-block: 2rem 1rem;
        }

        p {
            font-size: 1.3rem;
            font-weight: 500;
            text-align: left;
            margin-bottom: 3rem;
        }
    }

    .card-column-odd {
        gap: 10rem;

        > div {
            border-bottom: 1px solid #000;
            box-shadow: inset 0 -4px 2px -2px rgba(0, 0, 0, 0.5); /* Somente na parte inferior */

            p {
                text-align: left;
                padding-right: 8rem;
            }
        }
    }

    .card-column-even {
        gap: 10rem;

        > div {
            box-shadow: inset 0 -4px 2px -2px rgba(0, 0, 0, 0.5); /* Somente na parte inferior */
            border-bottom: 1px solid #000;
            text-align: right;

            > div {
                align-items: flex-end;
                justify-content: flex-end;
            }

            p, h4 {
                text-align: right;
                padding-left: 8rem;
            }
        }
    }

}

.works {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 5rem 12rem;

    > div:first-child {
        border-bottom: 2px solid #000;
        box-shadow: 0 12px 8px -12px rgba(0, 0, 0, 0.6);
        padding-right: 3rem;
        margin-bottom: 8rem;
    }

    .grid-projects {
        display: flex;
        flex-direction: column;
        gap: 6rem;

        article:not(:last-child) {
            border-bottom: 1px dotted #000;
        }

        .project-card.reverse .card-image {
            grid-column: 5 / 11;
            grid-row: 1 / 2;

            img {
                border-top: 4px solid #000;
                border-right: 4px solid #000;
                border-left: none;
            }
        }

        .project-card.reverse .card-info {
            grid-column: 1 / 6;
            grid-row: 1 / 2;
            text-align: left;

            .card-description {
                align-items: flex-start;
                text-align: left;
            }
        }

        .project-card {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            align-items: center;
            padding: 1rem 1rem 6rem;


            .card-image {
                grid-column: 1 / 6;
                grid-row: 1 / 2;

                img {
                    border-top: 4px solid #000;
                    border-left: 4px solid #000;
                    padding: 1rem;
                    border-radius: 24px;
                    width: 640px;
                    aspect-ratio: 16/9;
                }
            }

            .card-info {
                display: flex;
                flex-direction: column;
                grid-column: 6 / 11;
                text-align: right;

                .card-title {
                    font-family: "Lacquer", system-ui;
                    font-size: 2rem;
                    padding: 0.6rem 2rem;
                    font-weight: 700;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px;

                    h5 {
                    margin: 0;
                    }
                }

                .card-description {
                    display: flex;
                    flex-direction: column;
                    grid-column: 6 / 11;
                    align-items: flex-end;
                    text-align: right;
                    padding: 0.8rem;
                    background-color: rgba(0, 0, 0, 0.9);
                    color: #fff;
                    border-radius: 24px;
                    order: 3;
                    gap: 1rem;

                    .card-links {
                        display: flex;
                        gap: 1.2rem;
                        justify-content: flex-end;
                    }

                    .card-links svg path {
                        fill: var(--section-color);
                    }


                    svg {
                        width: 40px;
                        height: 40px;
                        aspect-ratio: 1/1;
                        object-fit: fit;
                    }
                }
            }
        }

    }
    .even {
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    .odd {
        border-left: 2px solid #000;
        border-top: 2px solid #000;
    }

}



footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    width: 100%;
    border-top: 2px solid #000;
    box-shadow: 0 -12px 8px -12px rgba(0, 0, 0, 0.6);

    div {

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.2rem;
        }

    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;

        img {
            width: 40px;
            height: 40px;
        }

        li:first-child img {
            width: 45px;
            height: 48px;
        }
    }
}

