@layer reset, base, layout, utilities, components;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
    [role="list"] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    body {
        min-block-size: 100vh;
        line-height: 1.6;
    }

    html, body {
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    p,
    li {
        text-wrap: pretty;
    }

    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

@layer base {

    /*PRIMITIVES*/
    :root {

        /*COLORS*/
        --section-color: hsl(48, 87%, 60%);
        --section-color-dark: hsl(0, 0%, 0%);
        --section-color-light: hsl(0, 0%, 100%);

        /*FONT-FAMILY*/
        --ff-heading: 'JetBrains Mono', monospace;
        --ff-body: 'Jost', sans-serif;
        --ff-secondary: 'Lacquer', system-ui;

        /*FONT-SIZE*/
        --fs-200: 0.8rem;
        --fs-300: 1rem;
        --fs-400: 1.125rem;
        --fs-500: 1.25rem;
        --fs-600: 1.5rem;
        --fs-700: 1.75rem;
        --fs-800: 2rem;
        --fs-900: 2.25rem;
        --fs-1000: 2.75rem;

        /*FADE-IN AND OUT*/
        --fade-level: 0;
    }

    /*CUSTOM PROPERTIES*/
    :root {

        /*COLORS*/
        --text-color: var(--section-color-dark);
        --background-color: var(--section-color);

        /*FONT-SIZE HEADERS*/
        --font-size-heading-sm: var(--fs-700);
        --font-size-heading-regular: var(--fs-800);
        --font-size-heading-lg: var(--fs-900);
        --font-size-heading-xl: var(--fs-1000);

        /*FONT-SIZE-TEXTS*/
        --font-size-xs: var(--fs-200);
        --font-size-sm: var(--fs-300);
        --font-size-regular: var(--fs-400);
        --font-size-md: var(--fs-500);
        --font-size-lg: var(--fs-600);

        /*GAP*/
        --gap-100: 1rem;
        --gap-200: 1.5rem;
        --gap-300: 2rem;
        --gap-400: 2.5rem;
        --gap-500: 3rem;
        --gap-600: 4rem;

        /*BORDER RADIUS*/
        --border-radius-1: 1rem;
        --border-radius-2: 1.5rem;
        --border-radius-3: 2rem;
        --border-radius-4: 2.5rem;
        --border-radius-5: 3rem;

        /*IMAGES AND SVGS*/
        --figure-xs: 2rem;
        --figure-sm: 3rem;
        --figure-md: 4rem;
        --figure-lg: 5rem;

        /*WIDTH*/
        --block-size-sm: 30%;
        --block-size-regular: 40%;
        --block-size-md: 50%;
        --block-size-lg: 70%;
        --block-size-xl: 90%;

        /*BORDER*/
        --border-type: 2px solid var(--section-color-dark);
        --border-shadow: 0 12px 8px -12px rgba(0, 0, 0, 0.6);

        /*BOX-SHADOW*/
        --shadow-contact: 12px 0 12px -12px rgba(0, 0, 0, 0.6);
        --shadow-card: -10px -10px 12px -10px rgba(0, 0, 0, 0.6);
        --shadow-description: 0 0 12px 2px rgba(0, 0, 0, 0.6);
        --shadow-gallery: 0 0 12px 6px rgba(0, 0, 0, 0.2);
        --shadow-footer: 0 -12px 8px -12px rgba(0, 0, 0, 0.6);
    }

    /*GLOBAL STYLES*/

    /*BARRA DE ROLAGEM*/
    * {
        scrollbar-width: auto;
        scrollbar-color: var(--section-color-dark) var(--section-color);
    }

    *::-webkit-scrollbar-track {
        background-color: var(--section-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--section-color-dark);
        border-radius: 0.5rem;
        border: var(--border-type);
    }

    @media(prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }

    /*BODY E HTML*/
    html{
        line-height: 1.6;
    }

    body {
        background-color: var(--section-color);
        transition: background-color 0.4s ease;
        color: var(--text-color);
    }

    body, p {
        font-family: var(--ff-body), sans-serif;
        font-weight: 400;
        font-size: var(--fs-600);
    }

    /*HEADERS*/
    h1, h2 {
        font-family: 'JetBrains Mono', monospace;
        font-size: var(--fs-900);
        font-weight: 700;
    }

    h3, h4 {
        font-family: 'Lacquer', system-ui;
        font-weight: 700;
    }

    h2 {
        letter-spacing: 0.05em;
    }

    h3 {
        font-size: var(--fs-1000);
    }

    h4 {
        font-size: var(--fs-700);
    }

    @media (width < 1079px) {
        html {
            line-height: 1.5;
        }

        body p {
            font-size: var(--fs-500);
        }

        h1, h2 {
            font-size: var(--fs-700);
        }

        h3 {
            font-size: var(--fs-900);
        }

        h4 {
            font-size: var(--fs-600);
        }
    }
}

@layer layout {
    body {
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: var(--gap-200);
    }

    /*MAIN*/
    main {
        margin-block: 8rem 12rem;
        gap: 12rem;
    }

    /*FLEX-GRID-COLUMN-ROW-ALIGN-JUSTIFY*/
    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-center {
        display: flex;
        align-items: center;
    }

    .center {
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 6rem auto 0;
        padding-inline: 2rem;
    }

    /*TITLE PADDING*/
    .title-section {
        padding: 2rem;
    }

    @media (width < 1079px) {
        body {
            flex-direction: column;
            gap : var(--gap-400);
        }

        .container {
            padding-inline: 4rem;
        }

        .title-section {
            padding: 2rem 4rem;
        }
    }

}

@layer utilities {

    /*IMAGE RATIO*/
    .image-small {
        width: var(--figure-sm);
        aspect-ratio: 1/1;
    }

    .image-medium {
        width: var(--figure-md);
        aspect-ratio: 1/1;
    }

    .image-large {
        width: var(--figure-lg);
        aspect-ratio: 1/1;
    }

    .image-wide {
        aspect-ratio: 16/9;
    }

    @media (width < 1079px) {
        .image-small {
            width: var(--figure-xs);
        }

        .image-medium {
            width: var(--figure-sm);
        }

        .image-large {
            width: var(--figure-md);
        }

    }

    /*BORDER STYLES*/
    .border-style {
        border-bottom: var(--border-type);
        box-shadow: var(--border-shadow);
    }

    .border-card {
        border-top: 1px solid var(--section-color-dark);
        border-left: 1px solid var(--section-color-dark);
        border-radius: var(--border-radius-1);
    }

    .border-process {
        border-bottom: 2px dashed #000;
    }

    .border-gallery {
        border: 1px solid var(--section-color-dark);
    }

    /*TEXT-POSITION*/
    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    /*FLEX-GRID-JUSTIFY-CONTENT*/
    .flex {
        display: flex;
    }

    .grid {
        display: grid;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .between {
        justify-content: space-between;
    }

    /*FADE-IN & OUT*/
    .project-card.fade-out {
        opacity: 0.5;
    }

    .project-card.fade-in {
        opacity: 1;
    }

    /*ALIGN-ITEMS, SELF & CONTENT*/
    .content-end {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .content-center {
        align-content: center;
        justify-content: center;
    }

    .align-end {
        align-items: flex-end;
    }

    .align-stretch {
        align-self: stretch;
    }

    .align-start {
        align-items: flex-start;
    }

    .justify-end {
        justify-content: flex-end;
    }

    /*BOX SHADOW*/
    .shadow-contact {
        box-shadow: var(--shadow-contact);
    }

    .shadow-card {
        box-shadow: var(--shadow-card);
    }

    .shadow-description {
        box-shadow: var(--shadow-description);
    }

    .shadow-gallery {
        box-shadow: var(--shadow-gallery);
    }

    .shadow-footer {
        box-shadow: var(--shadow-footer);
    }
}

@layer components {

    /*HEADER*/
    header {
        padding: 1rem;

        /*NAV*/
        .nav > ul {
            gap: var(--gap-300);
            font-family: var(--ff-secondary), system-ui;
            font-size: var(--font-size-heading-regular);
            font-weight: 600;
        }
    }

    @media (width < 1079px) {
        header {
            padding: 1rem 2rem;

            .logo-title {
                font-size: var(--font-size-heading-sm);
            }

            .nav > ul {
                gap: var(--gap-200);
                font-size: var(--font-size-lg);
            }
        }
    }
    /*PRINCIPAL*/
    .principal {
        padding-inline: 1rem;

        /*INTRO*/
        .intro {
            width: 65%;

            /*TITLE*/
            h2 {
                margin-block: 0 2rem;
                line-height: 1.4;
            }
        }

        /*CONTACT*/
        .contact {
            width: var(--block-size-sm);
            padding: 5rem 3rem 5rem 0;
            border-right: var(--border-type);
            gap: var(--gap-200);

            /*INFO*/
            ul {
                font-size: var(--font-size-lg);
                font-weight: 500;
            }

            /*LINKS*/
            ul:last-of-type {
                gap: var(--gap-100);
            }
        }
    }

    @media (width < 1079px) {
        .principal {
            padding-inline: 2rem;

            .intro {
                width: 60%
            }

            .contact {
                padding: 5rem 2rem 5rem 0;

                ul {
                    font-size: var(--font-size-md);
                }
            }
        }
    }

    /*TOOLS*/
    .technologies {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: var(--gap-200);
        grid-row-gap: var(--gap-600);
        font-family: var(--ff-heading), monospace;
        font-size: var(--font-size-sm);
        font-weight: 700;

        /*TECH LIST*/
        li {
            gap: var(--gap-100);
            white-space: nowrap;
        }
    }

    @media (width < 1079px) {
        .technologies {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: var(--gap-500);
            font-size: var(--font-size-sm);
        }
    }

    /*PROCESS*/

    /*COLUMNS*/
    .process-column {
        gap: 8rem;
        width: var(--block-size-md);

        /*CARDS*/
        .process-card {
            gap: var(--gap-100);

            /*ICONS*/
            .process-icons {
                gap: var(--gap-500);
            }

            p {
                margin-block: 0 3rem;
            }
        }
    }

        /*SEPARADOR*/
    .separator {
        width: 2px;
        background: repeating-linear-gradient(
                to bottom,
                var(--section-color-dark),
                var(--section-color-dark) 4px,
                transparent 4px,
                transparent 8px
        );
    }

    /*COLUMNS EVEN & ODD*/
    [data-type="odd"] {
        p, h4 {
            padding-inline: 0 8rem;
        }
    }

    [data-type="even"] {
        p, h4 {
            padding-inline: 8rem 0;
        }
    }

    @media (width < 1079px) {
        .process-column {
            gap: 5rem;

            .process-card {

                .process-icons {
                    gap: var(--gap-100);
                }

                h4 {
                    font-size: var(--font-size-lg);
                }

                p {
                    margin-block: 0 2rem;
                    font-size: var(--font-size-regular);
                }
            }
        }

        [data-type="odd"] {
            p, h4 {
                padding-inline: 0 3rem;
            }
        }

        [data-type="even"] {
            p, h4 {
                padding-inline: 3rem 0;
            }
        }
    }

    /*PROJECTS*/
    .projects-grid {
        gap: var(--gap-600);

        /*GALLERY*/
        .project-gallery {
            cursor: pointer;
            width: var(--block-size-sm);
            gap: var(--gap-300);

            /*GALLERY CONTAINER*/
            div {
                border-radius: var(--border-radius-1);

                /*GALLERY IMAGE*/
                img {
                    width: var(--block-size-xl);
                    padding: 0.5rem;
                    border-radius: var(--border-radius-1);
                }
            }

            div.active img {
                box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.8);
            }
        }

        /*CONTAINER IMAGE*/
        .project-card {
            width: var(--block-size-lg);
            gap: var(--gap-200);
            padding-inline: 0 .5rem ;
            border-right: var(--border-type);
            transition: opacity 0.5s ease;

            /*IMAGE*/
            img {
                width: var(--block-size-xl);
                padding: 1rem;
                border-radius: var(--border-radius-3);
            }
        }

        /*TITLE*/
        .card-title {
            font-family: var(--ff-secondary), system-ui;
            font-size: var(--font-size-heading-lg);
            font-weight: 700;
            margin-inline: 1rem;
        }

        /*CARD CONTAINER*/
        .card-description {
            padding: 0.8rem 1.6rem 0.6rem;
            min-height: 19rem;
            background-color: rgba(0, 0, 0, 0.75);
            border-radius: var(--border-radius-1);
            justify-content: space-between;
            width: var(--block-size-xl);

            /*TEXT*/
            p {
                font-size: var(--font-size-regular);
                padding-block: 0.4rem 1rem;
            }

            /*LINKS*/
            .card-links {
                gap: var(--gap-100);
            }

            .card-links svg path {
                fill: var(--section-color);
            }
        }
    }

    @media (width < 1079px) {
        .projects-grid {
            gap: var(--gap-400);

            .project-gallery {
                margin-inline: 1.4rem 0;
                gap: var(--gap-300);

                div > img{
                    padding: 0.4rem;
                    width: 100%;
                }
            }

            .project-card > img {
                    padding: 0.7rem;
            }

            .card-title {
                font-size: var(--font-size-heading-sm);
                margin-inline: 0.5rem;
            }

            .card-description {
                min-height: 16rem;

                p {
                    font-size: var(--font-size-xs);
                    padding: 0;
                }
            }
        }

    }

    /*FOOTER*/
    footer {
        padding: 1rem;
        font-size: var(--font-size-md);
        font-weight: 500;
        border-top: var(--border-type);

        /*REGISTER*/
        p {
            font-family: var(--ff-heading), monospace;
            font-size: var(--font-size-sm);
            font-weight: 500;
        }

        /*CONTACT*/
        div {
            ul {
                gap: 0.2rem;
            }
        }

        /*LINKS*/
        ul {
            gap: var(--gap-100);
        }
    }

    @media (width < 1079px) {
        footer {
            padding: 1rem 2rem;
            font-size: var(--font-size-sm);

            p {
                font-size: var(--font-size-xs);
            }
        }
    }
}



